* {
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
transition: all ease-in-out 1s;
}
body { 
}
nav{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 30px;
    height: 80px;
    width: 100%;
    background-color: #ffffff81;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav span{
    background-color: white;
}
.nav-icon{
    color: #89AAFD;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    width: 30%;
}
.nav-icon h4 {
    padding: 5px;
    font-size: 25px;
}
.nav-icon img{
    width: 100px;
}
nav ul {
    width: 60%;
    padding-left: 20%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul a{  
    color: #132f77;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    text-decoration: none;
}
nav .nav-drop-list{
    color: #89AAFD;
    font-weight: bold;
    font-size: 25px;
    transition: all ease-in-out 1.5s;
}
nav .nav-drop-list:checked, .nav-drop-list:hover{
    transform: rotatey(180deg);
}
/*-------------------------  main  --------------------------*/
.main{
    width: 100%;
    height: 1000px;
    background-image: url(../images/doctor-nurses-special-equipment.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.main .layer{
    display: flex;
    justify-content: center;
    background-color: #89aafd45;
    height: 100%;
}
.main .text{
    width: 35%;
    height: 60%;
    padding: 20px;
    margin: auto;
    text-align: center;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 2.65em;
}
.main .text button{
    width: 300px;
    height: 60px;
    padding: 1px;
    font-size: 25px;
    font-weight: bold;
    background-color: #3f64c3;
    color: white;
    border-radius: 20px;
    text-align: center;
    border: none;
    cursor: pointer;

}
.main .text button:hover{
    background-color: white;
    color: #3f64c3;
    transform: translateY(-15px);
}

/*---------------------  offers  -------------------------*/

.offers{
    height: 900px;
    width:100%;
    background-color: #89AAFD;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    padding: 2% 4% 0;
}
.offers h2{
    width: 100%;
    margin: auto;
    font-size: 3em;
    color: white;
    padding: 10px;
}
.offers .card{
    width: 20%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.396);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border-radius: 16px;
    padding: 2% 4%;
    color: white;
    font-size: 18px;
    box-shadow: 3px 3px #132f77 ;
    cursor: pointer;
}
.offers .card h3{
    font-size: 25px;
}
.offers .card img{
    width:150px;
    height: 150px;
    border-radius: 22px;
    margin-bottom: 10px;
}
.offers .card:hover{
    background-color: white;
    color: #3f64c3;
    transform: translateY(-25px);
}
.our-doctor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    padding: 100px;
}
.our-doctor h2{
    width: 100%;
    font-size: 55px;
    font-weight: bold;
    color: #3f64c3;
    padding: 20px;
}
.our-doctor img{
    margin: 50px 50px 80px ;
    width: 250px;
    border: #3f64c3 2px solid;
    border-radius: 50%;
}
.our-doctor .doc-card{
    color: #3f64c3;
    font-size: 25px;
    font-weight: 600;
    margin: 10px 45px;
    width: 35%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-doctor .doc-card:hover{
background-color: #89AAFD;
border: 1px solid black;
transform: translateY(-20px);
border-radius: 50px;
color: white;
}

/*-------------------  tech  -----------------*/

.techo{
    width: 100%;
    background-color: #89AAFD;
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
}
.techo div {
    width: 100%;
    height: 200px;
    padding-left: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 2em;
    border: 2px solid white;
}
.techo h2{
    color: white;
    padding: 30px;
    font-size: 2em;
}